{{!-- <a class="back-button icon-arrow-left" href="{{@blog.url}}">Accueil</a> --}}
{{!-- <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Flux RSS</a> --}}
<a class="subscribe-button" href="{{@blog.url}}/contact" {{isActive}}>Contact</a>
<a class="subscribe-button" href="{{@blog.url}}/livre-d-or" {{isActive}}>Livre d'or</a>
<a class="subscribe-button" href="{{@blog.url}}/expositions" {{isActive}}>Expositions</a>
{{!-- <a class="subscribe-button" href="{{@blog.url}}/demarche-artistique">Démarche artistique</a> --}}
